.modal-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(60, 60, 60, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  z-index: -1;
}

.modal-container > .modal-content {
  position: relative;
  width: 500px;
  height: 400px;
  background-color: white;
  border-radius: 10px;
  z-index: 2;
}

.navbar {
  width: 100%;
  height: 100%;
  position: relative;
}

.navbar > .btn-add-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.modal-content > .task-container {
  position: absolute;
  left: 50%;
  top: 17%;
  transform: translate(-50%, 0%);
}
.modal-content > .year-container {
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, 0%);
}
.modal-content > .month-container {
  position: absolute;
  left: 30%;
  top: 32%;
  transform: translate(-50%, 0%);
}

.modal-content > .day-container {
  position: absolute;
  left: 70%;
  top: 32%;
  transform: translate(-50%, 0%);
}

.modal-content > .start-time-container {
  position: absolute;
  left: 30%;
  top: 45%;
  transform: translate(-50%, 0%);
}

.modal-content > .end-time-container {
  position: absolute;
  left: 70%;
  top: 45%;
  transform: translate(-50%, 0%);
}

.modal-content > .closeButton {
  position: absolute;
  right: 20%;
  bottom: 3%;
}

.modal-content > .addButton {
  position: absolute;
  right: 3%;
  bottom: 3%;
}

.mainAddButton {
  position: absolute;
  left: 68%;
  bottom: 15%;
}

@keyframes fade-in-modal {
  from {
    opacity: 0;
    z-index: -1;
  }
  to {
    opacity: 1;
    z-index: 1;
  }
}

@keyframes fade-out-modla {
  from {
    opacity: 1;
    z-index: 1;
  }
  to {
    opacity: 0;
    z-index: -1;
  }
}

.show-modal-animation {
  animation: 0.5s fade-in-modal;
}

.hide-modal-animation {
  animation: 0.5s fade-out-modal;
}

.todo {
  font-weight: 100;
  font-size: 12px;
  color: black;
}

.todo-w {
  font-weight: 100;
  font-size: 14px;
  color: black;
}

.btn-danger {
  height: 20px;
  width: 20px;
}

.todo-d {
  font-weight: 100;
  font-size: 15px;
  color: black;
}
